body {
  background: green;
  text-align: center;
}

#card-container {
  position: relative;
}

.card {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

button {
  background: rgb(54, 54, 54);
  color: white;
  border: 1px solid rgb(54, 54, 54);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 50px;
}